<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Lista de Juegos</title>
    <style>
        body {
            padding: 50px;
            background-color: rgb(229, 229, 229);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Juegos</h1>
        <div class="row">
            <% juegos.forEach(function(juego) { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="<%= juego.imagenUrl %>" class="card-img-top" alt="Imagen del Juego" style="width: 100%; height: 300px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title"><%= juego.titulo %></h5>
                            <p class="card-text">Desarrollador: <%= juego.desarrollador %></p>
                            <p class="card-text">Plataforma: <%= juego.plataforma %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
